@import '@/assets/styles/abstracts/index.scss';
.navbar{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    color: #fff;

    .navbar__title{
        font-weight: 600;
    }

    .navbar__image{
        width: 40px;
        height: 40px;
    }

    .navbar__dropdown{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}