$body: #eaeff8;
$body_dark: #111315;
$primary: #162841;
$primary_dark: #fff;
$dark: #333;
$text_muted: #7e7e7e;
$text_dark: #111315;
$muted: #e9e9e9;
$muted_dark: #d1d1d1;
$muted_dark_mode: #505050;
$white: #fff;
